/* CSS Document */
body{
	background: skyblue;
}

table{
	width: 80%;
	margin: auto;
	text-align: center;
	table-layout: fixed;
}
table, tr, th, td{
	padding: 10px 40px 10px 0px;
	color: white;
	border: 1px solid #080808;
	border-collapse: collapse;
	font-size: 12px;
	font-family: Arial;
	background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
	background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}

